<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div class="container">
        <center><h1>You're really good hacker bro :)</h1></center>
        <img src="./static/hacker-pc.gif" alt="Çok güzel bir resim " id="center-image">
    </div>
    <script src="./static/script.js"></script>
    <h6>
        Resmi görebiliyorsan IFrame açıktır :)
    </h6>
</body>
</html>